:root {
  
  /* Main Settings  */
  --main-background-color: rgb(240, 140, 130);

  --text-primary-color: rgb(0, 0, 0);
  --text-secondary-color: rgb(0, 0, 0);

  /* Nav Settings  */
  --nav-link-color: rgb(0, 0, 0);
  --nav-link-hover-color: rgb(87, 87, 87);
  --nav-link-hover-background-color: none;
  --nav-background-color: none;
  --nav-height: 150px;
  --nav-logo-width: 125px;
  --nav-logo-font-size: 16px;

  /* Mobile Nav Settings  */

  --mobile-nav-background-color: rgb(155, 155, 155);
  --mobile-nav-logo-height:100px;
  --mobile-nav-link-color: rgb(65, 65, 65);
  --mobile-nav-link-hover-color: rgb(29, 29, 29);
  --mobile-nav-link-size: 20px;

  /* Card Settings  */
  --card-background-color: rgb(250, 231, 137);
  --card-border-radius: 100px;
  --card-shadow: 5px 20px 40px -13px rgb(147, 97, 185);

  /* Minting Area */
  --minting-box-color: rgb(147, 97, 185);
  --minting-box-heading-color: rgb(255, 255, 255);
  --minting-box-info-box-color: rgb(255, 255, 255);
  --minting-box-text-color: white;


  /* Minting Button */
  --minting-button-color:  #9ef8e2;
  --minting-button-text-color: white;

}






